In [0]:
#!unzip zomato.zip

In [0]:
import numpy as np
import pandas as pd
import nltk

In [0]:
import warnings
warnings.filterwarnings('ignore')

In [269]:
df = pd.read_csv('zomato/processed_reviews.csv')
print(type(df))
df.head(5)

<class 'pandas.core.frame.DataFrame'>

    user_id  ...                                            content
0   2042820  ...  i have been a very loyal customer to global fu...
1  57816837  ...  visited first time on my visit to mumbai and f...
2  42096287  ...  this place is an absolute delight of you're a ...
3  33538931  ...  this is one of the coolest places for a buffet...
4  34390186  ...  good food, has vast variety to choose from, su...

[5 rows x 6 columns]

In [270]:
df.shape

(3228, 6)

In [0]:
zomato_data = df[['entity_id', 'user_id' , 'rating', 'content']]

In [272]:
zomato_data.head()

   entity_id  ...                                            content
0      44568  ...  i have been a very loyal customer to global fu...
1      44568  ...  visited first time on my visit to mumbai and f...
2      44568  ...  this place is an absolute delight of you're a ...
3      44568  ...  this is one of the coolest places for a buffet...
4      44568  ...  good food, has vast variety to choose from, su...

[5 rows x 4 columns]

In [0]:
def int2str(num):
  return str(num)

zomato_data['user_id'] = zomato_data['user_id'].apply(int2str)
zomato_data['entity_id'] = zomato_data['entity_id'].apply(int2str)

In [274]:
print(type(zomato_data['entity_id'][0]))
zomato_data.head()

<class 'str'>

  entity_id  ...                                            content
0     44568  ...  i have been a very loyal customer to global fu...
1     44568  ...  visited first time on my visit to mumbai and f...
2     44568  ...  this place is an absolute delight of you're a ...
3     44568  ...  this is one of the coolest places for a buffet...
4     44568  ...  good food, has vast variety to choose from, su...

[5 rows x 4 columns]

### Text Cleaning

In [275]:
#remove emoji and remove special characters
!pip install emoji
import emoji
bad_chars = [';', ':', '!', "*",'.',','] 
def remove_special_characters(text):
  # text = give_emoji_free_text(text);
  return filter(lambda i: i not in bad_chars, text);
# def give_emoji_free_text(text):
#     return emoji.get_emoji_regexp().sub(r'', text.encode().decode('utf8'))

Requirement already satisfied: emoji in /usr/local/lib/python3.6/dist-packages (0.5.4)

In [0]:
#zomato_data['user_id'] = zomato_data['user_id'].astype(str)

In [277]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [0]:
from nltk.corpus import stopwords
import string
stop = []
for word in stopwords.words('english'):
  s = [char for char in word if char not in string.punctuation]
  stop.append(''.join(s))

In [0]:
def text_process(text) :
  text = remove_special_characters(text)
  nopunc = [char for char in text if char not in string.punctuation]
  nopunc = ''.join(nopunc)
  return " ".join([word for word in nopunc.split() if word.lower() not in stop])

In [0]:
zomato_data['content'] = zomato_data['content'].apply(text_process)

In [281]:
zomato_data['content'][0]

'loyal customer global fusion past years past times global fusion disapointing firstly went fruits salads wich r alwys der lik mango papaya secondly fork given wat ws big size felt like serving fork eating one nobody came ask drinks needed tepenyaki prawns absolute disappointment wer jus plain fried taste momos wer extemely dry iceberg iceberg chkn crispy corn pepper mushroom salty particular name dishes bcz hv regular versova n andheri branch hv biggest fan bt smhow bandra worli dsnt appeal dt mch mean global fusion known spread salad go wd appetisers cherry cake wen v went hv desserts askd fr tea spoon said dey u u belive small gulab jamun n icecream big serving spoons mean hw cn u nt hv dessert spoon restaurant lik global fusion u reli need work cz u may lose loyal client'

### Stemming

### Train, Test, Split

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
vld_size = 0.15
X_train, X_valid, y_train, y_valid = train_test_split(zomato_data['content'], df['entity_id'], test_size = vld_size)

In [0]:
userid_df = zomato_data[['user_id', 'content']]
businessid_df = zomato_data[['entity_id', 'content']]

In [285]:
userid_df.head()

    user_id                                            content
0   2042820  loyal customer global fusion past years past t...
1  57816837  visited first time visit mumbai fell love vari...
2  42096287  place absolute delight foodie spread vast many...
3  33538931  one coolest places buffet lunch dinner asian c...
4  34390186  good food vast variety choose sushi wasabi one...

In [0]:
userid_df = userid_df.groupby('user_id').agg({'content': ' '.join})
businessid_df = businessid_df.groupby('entity_id').agg({'content': ' '.join})

In [0]:
# result_df = userid_df.loc[userid_df['user_id'] == '34390186']['content']
# print(result_df)

In [288]:
userid_df.head(10)

                                                     content
user_id
100083557  diwali corporate party people place massive sp...
100084362  good place enjoy family friends suitable birth...
100190388  randomly plan awesome even random choice food ...
10026121                                           good food
1004368    walked overseas clients buffet table available...
100504193  quality concern fatty patty owner polite helpf...
100505080  school mates meet house long time order food s...
100656812  authentic punjabi chole bhature samosa jalebi ...
100937     suggest booking go big restaurant tables quite...
101075000  worst experience never kind service life one b...

In [289]:
userid_df['content']

user_id
100083557    diwali corporate party people place massive sp...
100084362    good place enjoy family friends suitable birth...
100190388    randomly plan awesome even random choice food ...
10026121                                             good food
1004368      walked overseas clients buffet table available...
                                   ...
9946621      fatty patty mouthwatering burgers super reason...
9961881      arranged birthday celebration food really awes...
99631839     one best place town visit really amazing exper...
99718960     great experience quality taste amazing best pl...
997230       crowd really good try place loved surely gonna...
Name: content, Length: 2928, dtype: object

In [290]:
businessid_df.head()

                                                     content
entity_id
18126406   hotel good food wow ambience amazing staff goo...
18234208   want try real delhi food place ive best malai ...
18306468   go big groups let order platters zomato gold a...
18374844   cafe located ground floor office building bogo...
18555111   like taste paneer fresh zomato sucks schezwan ...

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize import RegexpTokenizer, WordPunctTokenizer

In [292]:
userid_vectorizer = TfidfVectorizer(tokenizer = RegexpTokenizer('[a-zA-Z]+').tokenize, max_features=5000)
userid_vectors = userid_vectorizer.fit_transform(userid_df['content'])
userid_vectors.shape

(2928, 5000)

In [293]:
userid_vectors

<2928x5000 sparse matrix of type '<class 'numpy.float64'>'
	with 109941 stored elements in Compressed Sparse Row format>

In [294]:
businessid_vectorizer = TfidfVectorizer(tokenizer = RegexpTokenizer('[a-zA-Z]+').tokenize, max_features=5000)
businessid_vectors = businessid_vectorizer.fit_transform(businessid_df['content'])
businessid_vectors.shape

(37, 5000)

## Matrix Factorisation

In [295]:
userid_rating_matrix = pd.pivot_table(zomato_data, values= 'rating', index=['user_id'], columns=['entity_id'])
userid_rating_matrix.shape

(2928, 37)

In [296]:
userid_rating_matrix.head(10)

entity_id  18126406  18234208  18306468  18374844  ...  43911  44568  48323  48688
user_id                                            ...
100083557       NaN       NaN       5.0       NaN  ...    NaN    NaN    NaN    NaN
100084362       NaN       NaN       NaN       NaN  ...    5.0    NaN    NaN    NaN
100190388       NaN       NaN       NaN       NaN  ...    NaN    NaN    NaN    NaN
10026121        NaN       NaN       NaN       NaN  ...    NaN    NaN    NaN    NaN
1004368         4.0       NaN       NaN       NaN  ...    NaN    NaN    NaN    NaN
100504193       NaN       NaN       NaN       NaN  ...    NaN    NaN    NaN    NaN
100505080       NaN       NaN       NaN       NaN  ...    NaN    NaN    NaN    NaN
100656812       NaN       NaN       NaN       NaN  ...    NaN    NaN    NaN    NaN
100937          NaN       NaN       NaN       NaN  ...    NaN    NaN    NaN    NaN
101075000       NaN       NaN       NaN       NaN  ...    NaN    NaN    1.0    NaN

[10 rows x 37 columns]

In [0]:
P = pd.DataFrame(userid_vectors.toarray(), index=userid_df.index, columns=userid_vectorizer.get_feature_names())
Q = pd.DataFrame(businessid_vectors.toarray(), index=businessid_df.index, columns=businessid_vectorizer.get_feature_names())

In [298]:
print(P.shape)
print(Q.shape)
print(userid_rating_matrix.shape)

(2928, 5000)
(37, 5000)
(2928, 37)

In [299]:
P.head()
#print(P.shape)

            aa  aam  aanch  abhishek  ...  zomato  zomatos  zone  zucchini
user_id                               ...
100083557  0.0  0.0    0.0       0.0  ...     0.0      0.0   0.0       0.0
100084362  0.0  0.0    0.0       0.0  ...     0.0      0.0   0.0       0.0
100190388  0.0  0.0    0.0       0.0  ...     0.0      0.0   0.0       0.0
10026121   0.0  0.0    0.0       0.0  ...     0.0      0.0   0.0       0.0
1004368    0.0  0.0    0.0       0.0  ...     0.0      0.0   0.0       0.0

[5 rows x 5000 columns]

In [300]:
Q.head()

            aa  aam  aanch  abhishek  ...    zomato  zomatos      zone  zucchini
entity_id                             ...
18126406   0.0  0.0    0.0  0.004316  ...  0.004160      0.0  0.000000       0.0
18234208   0.0  0.0    0.0  0.000000  ...  0.002401      0.0  0.000000       0.0
18306468   0.0  0.0    0.0  0.000000  ...  0.032976      0.0  0.013356       0.0
18374844   0.0  0.0    0.0  0.000000  ...  0.000000      0.0  0.000000       0.0
18555111   0.0  0.0    0.0  0.000000  ...  0.067294      0.0  0.000000       0.0

[5 rows x 5000 columns]

In [0]:
# print(Q.shape)
# print(userid_rating_matrix.index)
# print(userid_rating_matrix)

### Gradient Descent optimization

In [0]:
def matrix_factorization(R, P, Q, steps=5, gamma=0.001,lamda=0.02):
    for step in range(steps):
        for i in R.index:
            for j in R.columns:
                if R.loc[i,j] > 0:
                    # print(P.loc[i])
                    #print(Q.loc[j])
                    #print(j)
                    eij=R.loc[i,j]-np.dot(P.loc[i],Q.loc[j])
                    #print("error 1")
                    P.loc[i]=P.loc[i]+gamma*(eij*Q.loc[j]-lamda*P.loc[i])
                    #print("error 2")
                    Q.loc[j]=Q.loc[j]+gamma*(eij*P.loc[i]-lamda*Q.loc[j])
                    #print("error 3")
        e=0
        for i in R.index:
            for j in R.columns:
                if R.loc[i,j] > 0:
                    e = e + pow(R.loc[i,j]-np.dot(P.loc[i],Q.loc[j]),2)+lamda*(pow(np.linalg.norm(P.loc[i]),2)+pow(np.linalg.norm(Q.loc[j]),2))
        if e<0.001:
            break
    return P,Q

In [303]:
%%time
P, Q = matrix_factorization(userid_rating_matrix, P, Q, steps=25, gamma=0.001,lamda=0.02)

CPU times: user 8min 54s, sys: 121 ms, total: 8min 54s
Wall time: 8min 55s

In [304]:
Q.head()

                     aa           aam  ...          zone  zucchini
entity_id                              ...
18126406   1.356443e-04  9.094747e-06  ...  9.139856e-05  0.000054
18234208   4.096143e-05  7.764037e-05  ...  8.689845e-05  0.000376
18306468   1.480481e-04  1.153346e-05  ...  6.563739e-02  0.000064
18374844   4.241470e-08  1.497886e-08  ...  3.076513e-08  0.000011
18555111   1.509064e-07  7.372092e-08  ...  1.383498e-07  0.000015

[5 rows x 5000 columns]

In [305]:
Q.iloc[0].sort_values(ascending=False).head(10)

good        1.589176
food        1.578324
buffet      1.418196
place       1.356206
ambience    0.923083
service     0.857525
family      0.771796
starters    0.717193
great       0.688942
sai         0.658012
Name: 18126406, dtype: float64

### Export Model

In [0]:

# Store P, Q and vectorizer in pickle file
import pickle
output = open('yelp_recommendation_model.pkl', 'wb')
pickle.dump(P,output)
pickle.dump(Q,output)
pickle.dump(userid_vectorizer,output)
output.close()

In [0]:
df_business = pd.read_csv('zomato/restaurant.csv')

In [0]:
df_business['entity_id'] = df_business['entity_id'].apply(int2str)

In [0]:
#result = df_business.loc[df_business['entity_id'] == 18983744]['name'].iloc[0]

In [310]:
result

'Stoned Over Shakes-Hashtag By H&A'

In [312]:
words = "best barbeque"
test_df= pd.DataFrame([words], columns=['content'])
test_df['content'] = test_df['content'].apply(text_process)
test_vectors = userid_vectorizer.transform(test_df['content'])
test_v_df = pd.DataFrame(test_vectors.toarray(), index=test_df.index, columns=userid_vectorizer.get_feature_names())

predictItemRating=pd.DataFrame(np.dot(test_v_df.loc[0],Q.T),index=Q.index,columns=['rating'])
topRecommendations=pd.DataFrame.sort_values(predictItemRating,['rating'],ascending=[0])[:7]
for i in topRecommendations.index:
    print("Name : " + df_business[df_business['entity_id']==i]['name'].iloc[0])
    print("Cuisines : " + df_business[df_business['entity_id']==i]['cuisines'].iloc[0])
    print("People liked : " + str(df_business[df_business['entity_id'] == i]['people_liked'].iloc[0]))
    print("Ratings : " + str(df_business[df_business['entity_id']==i]['avg_review'].iloc[0])+ "\nReviews : "+str(df_business[df_business['entity_id']==i]['review_count'].iloc[0]))
    print('\n')

Name : Barbeque Nation
Cuisines : North Indian,Kebab,BBQ,Chinese
People liked : Kulfi,Fish,Gulab Jamun,Biryani,Crispy Corn,Phirni,Chicken Drumstick,Decor,Live Grill,Comfortable Seating,Courteous Staff,Friendly Staff,Friendly Service
Ratings : 4.2
Reviews : 2902


Name : Gulati's
Cuisines : Mithai,Street Food
People liked : Chole Bhature,Samosa,Motichoor Ladoo,Rasmalai,Jalebi Rabri,Chana Bhatura,Kachori,Prompt Service
Ratings : 4.2
Reviews : 1382


Name : Global Fusion
Cuisines : Chinese,Japanese,Asian,North Indian
People liked : Sushi,Sea Food,Dumplings,Momos,Mutton Curry,Tempura Prawns,Chicken Bao,Decor,Lovely Ambience,Elegant Ambience,Courteous Staff,Friendly Staff,Friendly Service
Ratings : 4.2
Reviews : 5601


Name : Banjara - Goldfinch Hotel
Cuisines : North Indian,Continental,Chinese
People liked : Mocktails,Fish,Panipuri,Salad,Biryani,Momos,Lunch Buffet,Elegant Decor,Lovely Ambience,Rooftop Ambience,Courteous Staff,Friendly Staff
Ratings : 4.5
Reviews : 674


Name : Mitron - Peninsula Grand Hotel
Cuisines : Modern Indian,Continental,North Indian,Finger Food
People liked : Cocktails,Mocktails,Pizza,Biryani,Basmati Rice,Custard,Tawa Pulav,Decor,Classy Place,Dance Floor,Courteous Staff,Friendly Staff,Prompt Service
Ratings : 4.3
Reviews : 1918


Name : Hotel Sai Palace
Cuisines : Mughlai,Chinese
People liked : Pasta,Biryani,Sea Food,Salad,Fish,Paan Ice Cream,Butter Chicken,Decor,Courteous Staff,Friendly Staff,Valet Service
Ratings : 4.1
Reviews : 1090


Name : Persian Darbar
Cuisines : Biryani,North Indian,Chinese
People liked : Raan Biryani,Mutton Kabsa,Mutton Biryani,Murgh Patiala,Caramel Custard,Dahi Lasooni,Lassi,Decor,Comfortable Seating,Courteous Staff,Friendly Staff,Valet Service
Ratings : 4.0
Reviews : 3419